<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Groups</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAddGroupModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list >
    <ion-item *ngFor="let item of GroupArray">
      <ion-thumbnail item-start>
        <img src="assets/imgs/user.png" alt="item.Device_Name">
      </ion-thumbnail>
      <h2>{{item.groupname}}</h2>
      <p>{{item.datetime | date: 'short'}}</p>
      <p><span style="color:rgb(255,64,129);">{{item.vehicle}}</span>&nbsp;&nbsp;Vehicles</p>
      <button ion-button clear item-end *ngIf="item.status">Active</button>
      <button ion-button clear item-end *ngIf="!item.status">InActive</button>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <div *ngFor="let item of GroupArray">
     

      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/user.png" alt="item.Device_Name">
        </ion-thumbnail>

        <ion-row>
          <ion-col col-8>

            <p>
              <span ion-text color="dark" style="text-align:left;"></span> {{item.groupname}}</p>

          </ion-col>
          <ion-col col-4>

            <p style="text-align:left;font-size: 14px;">&nbsp;&nbsp;
              <span style="color:#23c797;" *ngIf="item.status == true">Active&nbsp;</span>
            </p>
            <p style="text-align:left;font-size: 14px;">&nbsp;&nbsp;
              <span style="color:#c74423;" *ngIf="item.status != true">InActive&nbsp;</span>
            </p>

          </ion-col>

        </ion-row>


        <p style="font-size:12px;">{{item.datetime | date: 'medium'}}</p>

        <p>
          <span style="color:rgb(255,64,129);">{{item.vehicle}}</span>&nbsp;&nbsp;Vehicles</p>
     
        <p>
          <button ion-button small (click)="openUpdateGroupModal(item)">Edit</button>
          <button ion-button small (click)="deleteItem(item)">Delete</button>
        </p>
      </ion-item>
  
    </div>
  </ion-list> -->


</ion-content>